.mobile {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  z-index: 10;
  background-color: #000;
  padding: 16px 2%;
  @media screen and (min-width: 992px) {
    display: none;
  }
  > * {
    border-right: 1px solid red;
    padding: 4px 8px;
  }
  :last-child {
    border-right: 0;
  }
}

.desktop {
  &_container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    z-index: 10;
    background-color: #000;
    justify-content: space-between;
    padding: 16px 2%;
    @media screen and (max-width: 992px) {
      display: none;
    }
  }
  &_nav {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 8px;
    cursor: pointer;
    text-decoration: underline;
  }
}
